---
layout: base.liquid
---

<div class="race-cover noprint"> {% if race.image %}
<img src="{{ race.image }}">
{% endif %}
</div>

<table>
  <tr>
    <td><b>When</b></td><td>{{ race.date | date: "%b %d, %Y (%a)" }}</td>
  </tr>
  <tr>
    <td><b>Where</b></td><td>{{ race.location }}</td>
  </tr>
</table>

<p class="noprint"><a href="race.ics">Add to calendar</a></p>

<h2>Staffing</h2>

{% if race.sheet %}
<div class="sheet">
<iframe style="height: 890px; width: 650px;" src="{{ race.sheet }}"></iframe>
</div>
{% else %}
  <p>Race details are not available at this time.</p>
{% endif %}
