---
layout: base.liquid
---

<div class="cover">
{% if race.image %}
<img src="/races/{{ race.image }}">
{% endif %}
</div>

<h2>When &amp; Where</h2>

<p>{{ race.date | date: "%b %d, %Y (%a)", "UTC"}} in {{ race.location }}</p>

<h2>Staffing</h2>

{% if race.sheet %}
<div class="sheet">
<iframe style="height: 890px; width: 650px;" src="{{ race.sheet }}"></iframe>
</div>
{% else %}
  <p>Race details are not available at this time.</p>
{% endif %}
